/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --text-color: #f1b2ce;
  --title-color: #db00ff;
  --header-color: #000028;
  --title-decor: #ff0070;
  --background-color: #000028;
  --border-inline-color: #ff0070;
  --accent-color: #ff0070;
  --hover-color: #ff007066;
  --border-color: rgba(255, 0, 112, 0.4);
  --rec-decor-visibility: visible;
  --background-image: url("../images/cover-image-dark.png");
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #f1b2ce;
    --title-color: #db00ff;
    --header-color: #000028;
    --title-decor: #ff0070;
    --background-color: #000028;
    --border-inline-color: #ff0070;
    --accent-color: #ff0070;
    --hover-color: #ff007066;
    --border-color: rgba(255, 0, 112, 0.4);
    --rec-decor-visibility: visible;
    --background-image: url("../images/cover-image-dark.png");
  }
}
